{
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    [
      "module-resolver",
      {
        "root": ["../../src"],
        "extensions": [".js", ".ios.js", ".android.js"]
      }
    ]
  ],

  // For more details:
  // https://github.com/facebook/react-native/blob/master/babel-preset/configs/main.js#L21
  "presets": ["react-native", "babel-preset-env"],
  "retainLines": true,
}
