{
  // For more details:
  // https://github.com/facebook/react-native/blob/master/babel-preset/configs/main.js#L21
  "presets": ["react-native"],

  "plugins": [
    "transform-class-properties",
    "transform-decorators-legacy",
  ],

  "retainLines": true
}
